doctype html
html(lang='en')
  head
    title Hapi js Test
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css"
    )

    style.
      .container {
        max-width: 800px;
      }

    script.
      getUsername = url => {
        console.log('url', url)
        let loc = null
        try {
          loc = new URL(url)
        } catch (err) {
          console.log(err)
        }
        if (loc) {
          return loc.pathname.replace(/\//g, '')
        }
        return null
      }

      goGetTweets = url => {
        let username = getUsername(url)
        if (username) {
          location.assign(`/tweets/${username}`)
        }
      }

  body
    .jumbotron.jumbotron-fluid
      .container
        h1.display-4 Hello Hapi!
        p.lead.mb-2
          | Node.js test app, using the
          =" "
          strong Hapi
          =" "
          | framework (v17). A basic  Twitter client for reading tweets from any user and posting test tweet to my account. Deployed to
          =" "
          strong Heroku
          =" via "
          strong Github
          | .
        p.lead.mb-0.font-italic
          =" Please find the "
          strong souce code
          =" here: "
          a(href="https://github.com/SubZtep/nodetest") https://github.com/SubZtep/nodetest

    .container.mb-5

      h3 Receive Tweets
      p Enter Twitter profile URL below and receive the tweets from Twitter API.

      .input-group
        input.form-control#url(
          type="text"
          placeholder="Twitter Profile URL"
          value="https://twitter.com/samlabs"
        )
        .input-group-append
          button.btn.btn-primary(
            type="button"
            onclick="goGetTweets(document.getElementById('url').value)"
          ) Request Tweets JSON


      h3.mt-5 Send Tweet
      p Feel free to press the button below to send a test tweet to my personal account. Credentials stored in Heroku’s Config Vars.
      form(method="post" action="/tweet" onsubmit="return confirm('Are you sure you want to tweet?')")
        button.btn.btn-danger(type="submit") Send Tweet


    .bg-light.rounded.mt-5.py-3
      .container
        p.text-secondary.mb-0
          small
            | Thanks for your time, feel free to contact me,
            =" "
            a(href="https://twitter.com/SubZtep") Andras Serfozo
            | .
